@model SofttekFinalProjectFrontend.ViewModels.SalesViewModel

<div class="modal fade" id="saleModalPartial" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Sale.</h5>
            </div>
            @using (Html.BeginForm("SendSale", "Sales", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="row">
                        @Html.HiddenFor(x => x.UserID, new { id = "userIdHidden" })

                        <div class="col-md-6 mt-1 mb-3">
                            <label class="col-md-4 form-control-label">Name of Crypto: </label>
                            @Html.EditorFor(x => x.NameOfCrypto, new { htmlAttributes = new { @class = "col-md-8 form-control" } })
                        </div>
                        <div class="col-md-6 mt-1 mb-3">
                            <label class="col-md-4 form-control-label">Amount: </label>
                            @Html.EditorFor(x => x.Amount, new { htmlAttributes = new { @class = "col-md-8 form-control" } })
                        </div>
                        <div class="col-md-6 mt-1 mb-3">
                            <label class="col-md-4 form-control-label">CBU in Pesos: </label>
                            @Html.EditorFor(x => x.CbuAccountPesos, new { htmlAttributes = new { @class = "col-md-8 form-control" } })
                        </div>                    
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" id="btnGuardar">Send</button>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/js/Sales/Sales.js"> </script>