<h1>Deposits</h1>



<div class="d-grid gap-2 col-6 mx-auto" style="margin-top: 20%">
    <button id="depositsFiduciaryButton" class="btn btn-primary" type="button">Deposit Fiduciary</button>
    <button class="btn btn-primary" type="button">Deposit Crypto</button>
</div>

<div id="depositsAddPartial"></div>


<script src="~/js/Deposits/Deposits.js"> </script>