<h1>Transfers</h1>



<div class="d-grid gap-2 col-6 mx-auto" style="margin-top: 20%">
    <button id="transfersFiduciaryToFiduciaryButton" class="btn btn-primary" type="button">Transfers Fiduciary to Fiduciary</button>
    <button id ="transfersFiduciaryToCryptoButton" class="btn btn-primary" type="button">Transfers Fiduciary to Crypto</button>
    <button id="transfersCryptoToFiduciaryButton" class="btn btn-primary" type="button">Transfers Crypto to Fiduciary</button>
    <button id="transfersCryptoToCryptoButton"  class="btn btn-primary" type="button">Transfers Crypto to Crypto</button>
</div>

<div id="transfersFiduciaryToFiduciaryPartial"></div>
<div id="transfersFiduciaryToCryptoPartial"></div>
<div id="transfersCryptoToCryptoPartial"></div>
<div id="transfersCryptoToFiduciaryPartial"></div>



<script src="~/js/Transfers/Transfers.js"> </script>