<h1>Accounts</h1>

<h3>Accounts Fiduciary</h3>
<table id="tableFiduciary" class="table table-striped" style="width:100%"></table>

<div style="height: 20px;"></div>

<div style="margin-bottom: 10%;">
    <h3>Accounts Crypto</h3>
    <table id="tableCrypto" class="table table-striped" style="width:100%"></table>
</div>

<script src="~/js/Accounts/Accounts.js"> </script>
